/* nav {
    background-color: #0dcaf0;
} */


body {
    background-image: url('https://c.tenor.com/1KxWSlTlIZMAAAAC/clouds-anime.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;

}

#d-flex {
    background-color :bisque;
}

#fas {
    line-height: unset;
    margin-right: 8px;

}

#fas:hover {
    color: white;
}

#fa-tint {
    line-height: unset;
    margin-right: 8px;

}

.card {
    margin: auto auto   ;
}

.hide {
    display: none;
}

.text {
    color: white;
    font-weight: bold;
}